/* styling the button form img */
button img {
    
    height: 10px;
    width: 10px;

}

/* creating columns for forms page */
.column1of1 {
    
    width: 500px;
    margin: 10px auto;
    padding: 20px 10px;
    border: 3px double black;
}

ol li {
    margin: 60px 0px;
}

/* here we put a background color behind the list */
.column1of1 {
    background-color: rgba(255, 255, 255,0.4);
}


ol p {
    text-align: center;
}
/* end of form column styling */

/* here we style the fieldset forms */
fieldset {
    width: 200px;
    border: 3px double black;
    background-color: lightcyan;
    border-radius: 10px;
    /* we text-align the content to make the controls flush */
    text-align: right;
    padding: 22px;
    line-height:1.7em;
}

legend {
    background-color: lightcyan;
    border: 3px double black;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 4px;
    text-align: left;
    font-size: 10px;
}
/* end of fieldset styling */

/* start of submit button styling */
input.submit {
    text-shadow: 1px 1px 0px black;
    background-color: gray;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    width: 70px;
    text-align: center;
}

/* here we set the color of the submit button once a user hovers over it */
input.submit:hover, input.submit:focus {
    background-color: dodgerblue;
    border-bottom: 2px solid black;
}
/* end of submit button styling */


/* here we style the form of email and url */
.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input[type="email"], input[type="url"] {
    padding: 8px;
    width: 80%;
}
/* end of url email styling */